.navbar {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.care {
  display: flex;
  align-items: center;
  justify-content: center;
}

.manage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse {
  display: flex;
  align-items: center;
  justify-content: center;
}
